<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:spring/spring.xml"/>

    <bean id="userService" class="cn.stu.service.impl.UserServiceImpl" />

    <bean id="context" class="cn.stu.service.impl.ContextServiceImpl"/>


</beans>